<!DOCTYPE html>
<html>

<head>
	{{> html-head title="Product Page" }}
</head>

<body class="template-product">
	{{> sections/header}}

	<div class="container px-g mb-4 mt-lg-5">
		<div class="row align-items-start">
			{{> components/product-image-carousel totalSlide=8}}

			<div class="col-12 col-lg-5 order-lg-3">
				<div class="yotpo bottomLine show-avg-score yotpo-small mb-1" data-appkey="6txi4aUWjmI6eNoVLssUgrIObhvqlGbIfVyePeRW"
					data-domain="dev-cocoandeve.myshopify.com" data-product-id="4543113265187" data-product-models="4543113265187"
					data-name="Sunny Honey Bali Bronzing Foam"
					data-url="https://dev.cocoandeve.com/products/sunny-honey-bali-bronzing-self-tan-mousse"
					data-image-url="//cdn.shopify.com/s/files/1/0286/1327/9779/products/FOAM_DARK_YELLOW_1_large.jpg%3Fv=1609922006"
					data-description="<div> <strong></strong>Anti-cellulite, anti-ageing self tan with zero nasties. Created using unique CellushapeTM formula to hydrate and firm the skin.<br> </div> <ul> <li>Blurs Pigmentation and Perfects Skin.</li> <li>Tropical Mango and Guava Scent. (No biscuit smells!)</li> <li>Lightweight, non-sticky formula.</li> <li>Fast drying and develops in just 2 hours</li> <li>Vegan. 100% Natural DHA. No Nasties</li> </ul>" data-bread-crumbs="Best Sellers;Tan;" data-yotpo-element-id="2">
				</div>
				<h1>Sunny Honey Bali Bronzing Foam</h1>
				<h3>Anti-cellulite, anti-aging self tan</h3>
				<form>
					<div>
						<button class="swatch mr-1 my-1 medium" type="button" tabIndex="-1" aria-label="Medium"></button>
						<button class="swatch mr-1 my-1 dark" type="button" tabIndex="-1" aria-label="Dark"></button>
						<button class="swatch mr-1 my-1 ultra-dark" type="button" tabIndex="-1" aria-label="Ultra Dark"></button>
						<p class="font-size-sm"><b>Medium</b> - Subtle glow, lighter skin tones</p>
					</div>

					{{> components/product-variant name="product-variant" value="1" checked=true class="mb-2"}}
					{{> components/product-variant name="product-variant" value="2" compare=true class="mb-2"}}

					<div class="d-flex mb-3">
						<div class="react-quantity-box"></div>
						<button class="btn btn-lg btn-primary btn-block ml-1 ml-lg-3">Add to Cart</button>
					</div>
				</form>

				<div>Afterpay</div>

				<figure class="mt-4 d-flex">
					<picture class="flex-shrink-0 col-5 p-0">
						<source srcset="https://via.placeholder.com/340x260.jpg/EFADBA" media="(min-width: 992px)" />
						<img src="https://via.placeholder.com/280x200.jpg/EFADBA" class="w-100">
					</picture>
					<figcaption class="col-7 px-2 py-1 bg-light d-flex flex-column">
						<h3 class="font-size-lg mb-0">Free Deluxe Exfoliating Mitt</h3>
						<p class="font-size-xs mb-0">Min. spend of $30</p>
						<p class="font-size-sm mb-0 text-primary justify-self-end">Use code: BESTPREP</p>
					</figcaption>
				</figure>

				<div class="mt-4">
					<ul class="product-info-tab nav nav-tabs justify-content-between" id="product-info-tab" role="tablist">
						<li class="nav-item text-center">
							<a class="nav-link border-0 text-body text-decoration-none active" id="product-benefits-tab" data-toggle="tab" href="#product-benefits" role="tab" aria-controls="product-benefits" aria-selected="true">Benefits</a>
						</li>
						<li class="nav-item text-center">
							<a class="nav-link border-0 text-body text-decoration-none" id="product-proudtobe-tab" data-toggle="tab" href="#product-proudtobe" role="tab" aria-controls="product-proudtobe" aria-selected="false">Proud to be</a>
						</li>
						<li class="nav-item text-center">
							<a class="nav-link border-0 text-body text-decoration-none" id="product-ingredients-tab" data-toggle="tab" href="#product-ingredients" role="tab" aria-controls="product-ingredients" aria-selected="false">Ingredients</a>
						</li>
					</ul>
					<div class="tab-content mt-1" id="product-info-tabContent">
						<div class="tab-pane fade show active" id="product-benefits" role="tabpanel" aria-labelledby="product-benefits-tab">
							<ul class="">
								<li>Blurs Pigmentation and Perfects Skin.</li>
								<li>Tropical Mango and Guava Scent.</li>
								<li>Lightweight, non-sticky formula.</li>
								<li>Fast drying and develops in just 2 hours</li>
								<li>Vegan. 100% Natural DHA. No Nasties</li>
							</ul>
						</div>
						<div class="tab-pane fade" id="product-proudtobe" role="tabpanel" aria-labelledby="product-proudtobe-tab">...</div>
						<div class="tab-pane fade" id="product-ingredients" role="tabpanel" aria-labelledby="product-ingredients-tab">...</div>
					</div>
				</div>

				<ul id="product-collapse" class="list-unstyled border-top mt-4">
					<li class="py-3 border-bottom">
						<button id="product-collapse-1__toggle" class="btn-unstyled w-100 d-flex justify-content-between font-weight-bold product-collapse__toggle collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#product-collapse-1" aria-expanded="true" aria-controls="product-collapse-1">How to Use</button>
						<div id="product-collapse-1" class="product-collapse collapse" aria-labelledby="product-collapse-1__toggle" data-parent="#product-collapse">
							How to use content
						</div>
					</li>
					<li class="py-3 border-bottom">
						<button id="product-collapse-2__toggle" class="btn-unstyled w-100 d-flex justify-content-between font-weight-bold product-collapse__toggle collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#product-collapse-2" aria-expanded="true" aria-controls="product-collapse-2">FAQ</button>
						<div id="product-collapse-2" class="product-collapse collapse" aria-labelledby="product-collapse-2__toggle" data-parent="#product-collapse">
							FAQ content
						</div>
					</li>
					<li class="py-3 border-bottom">
						<button id="product-collapse-3__toggle" class="btn-unstyled w-100 d-flex justify-content-between font-weight-bold product-collapse__toggle collapsed sni-after sni__plus" type="button" data-toggle="collapse" data-target="#product-collapse-3" aria-expanded="true" aria-controls="product-collapse-3">Shipping &amp; Returns</button>
						<div id="product-collapse-3" class="product-collapse collapse" aria-labelledby="product-collapse-3__toggle" data-parent="#product-collapse">
							Shipping &amp; Returns content
						</div>
					</li>
				</ul>

				<ul class="list-unstyled mb-0 mt-4 mt-lg-5">
					<li class="mb-2">
						<form class="upsell product-upsell d-flex align-items-center p-0">
							<figure class="d-flex flex-grow-1 mb-0">
								<picture class="flex-shrink-0">
									<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
								</picture>
								<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2">
									<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
									<span class="upsell__price text-primary flex-grow-1">
										<span class="compare text-body">£XX.XX</span>
										£XX.XX
										<span class="save">(Save 20%)</span>
									</span>
								</figcaption>
							</figure>
							<a class="d-flex flex-column flex-shrink-0 align-items-center" role="button">
								<i class="sni-text" aria-hidden="true">plus-circle</i>
								<span class="product-upsell__atc-text text-primary font-weight-bold">Remove</span>
							</a>
						</form>
					</li>
					<li>
						<form class="upsell product-upsell d-flex align-items-center p-0">
							<figure class="d-flex flex-grow-1 mb-0">
								<picture class="flex-shrink-0">
									<img src="https://via.placeholder.com/180x180.jpg/EFADBA" class="w-100" />
								</picture>
								<figcaption class="d-flex flex-column mx-0 py-g pl-g px-lg-2">
									<span class="upsell__title font-weight-bold">That’s a wrap bundle</span>
									<span class="upsell__price text-primary flex-grow-1">
										<span class="compare text-body">£XX.XX</span>
										£XX.XX
										<span class="save">(Save 20%)</span>
									</span>
								</figcaption>
							</figure>
							<a class="d-flex flex-column flex-shrink-0 align-items-center" role="button">
								<i class="sni-text" aria-hidden="true">plus-circle</i>
								<span class="product-upsell__atc-text text-primary font-weight-bold d-none d-lg-block">Add to Cart</span>
							</a>
						</form>
					</li>
				</ul>

			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-6 px-g px-lg-0 d-lg-flex align-items-center" style="background-color: #F9EECA7f;">
				<div class="pdp-banner__content ml-lg-auto px-lg-g pt-4 pb-2 py-lg-0">
					<h2 class="h1">Which Sunny Honey shade is right for me?</h2>
					<p><span class="font-weight-bold" style="color: #AE2573;">Medium:</span> Gives skin a subtle glow. Great for
						lighter skin tones!</p>
					<p><span class="font-weight-bold" style="color: #AE2573;">Dark:</span> For a back from vacay bronze. Ideal for
						medium skin tones!</p>
					<p><span class="font-weight-bold" style="color: #AE2573;">Ultra Dark:</span> A deep, rich tan. For deeper skin
						tones!</p>
				</div>
			</div>
			<div class="col-12 col-lg-6 px-g px-lg-0" style="background-color: #ECE79E;">
				<div class="pdp-banner__content">
					<picture class="no-gutters__in-container">
						<source
							srcset="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_1440x.jpg?v=1585822408"
							media="(min-width: 992px)" />
						<img
							src="https://cdn.shopify.com/s/files/1/0075/2163/2309/files/Rectangle_2x_5d1af986-b009-4369-b374-0d6a620bf81d_750x.jpg?v=1585822408"
							class="w-100" />
					</picture>
				</div>
			</div>
		</div>
	</div>

	<div style="background-color: #F9EECA;">
		<div class="container px-g">
			<div class="row">
				<div class="col-12">
					<section class="py-4">
						<div id="result-carousel" class="carousel result-carousel slide carousel--loop no-gutters__in-container" data-slide-number="4" data-ride="carousel" data-interval="false">
							<h2 class="text-center h1 pb-2 mb-0">Real Results</h2>
							<div class="carousel--centered">
								<div class="carousel-inner d-flex flex-nowrap pb-4">
									{{#times 8}}
									<figure class="mb-0 px-lg-2 carousel-item {{#if @first}}active{{else if @last}}carousel-item-prev{{else if (eq @index 2)}}carousel-item-next{{else}}carousel-item-next--out{{/if}} col-9 col-md-3">
										<picture class="d-block">
											<img src="https://via.placeholder.com/255x208" alt="Placeholder" class="d-block w-100">
										</picture>
										<figcaption class="bg-white py-2 px-g">
											<div class="d-flex justify-content-between mb-1">
												<div class="yotpo bottomLine show-avg-score yotpo-small" data-product-id="4543113265187">
												</div>
												<div class="badge badge-primary">Tan</div>
											</div>
											<p class="mb-1"><b>Product:</b> <a href="">Miracle Hair Elixir</a></p>
											<p>Review {{@index}}: “I struggle with cellulite so wanted to try this 3 step process Glow Figure range! After using the products my skin was a lot softer, smoother and had more glow! They have an amazing lychee sent and contain unique patented cellushape techno formula which gives a reduction in cellulite. What more could a girl ask for! 😛💕🙌🏼”</p>
											<b>@Alissa</b>
										</figcaption>
									</figure>
									{{/times}}
								</div>
							</div>

							<ol class="carousel-indicators carousel-indicators--primary d-lg-none">
								{{#times 8}}
								<li data-target="#result-carousel" data-slide-to="{{@index}}" class="{{#if @first}}active{{/if}} rounded-circle border-0"></li>
								{{/times}}
							</ol>

							<a class="carousel-control-prev carousel-control--background d-none d-lg-flex" href="#result-carousel" role="button"
								data-slide="prev">
								<span class="carousel-control-prev-icon sni sni__chevron-prev justify-content-center align-items-center bg-primary-light"
									aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next carousel-control--background d-none d-lg-flex" href="#result-carousel" role="button"
								data-slide="next">
								<span class="carousel-control-next-icon sni sni__chevron-next justify-content-center align-items-center bg-primary-light"
									aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>

						<div class="text-center">
							<button class="btn btn-lg btn-primary">See All Results</button>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div class="py-4 bg-light">
		<div class="container">
			<div class="row">
				<h2 class="h1 mb-0 text-center text-lg-left">Customer Reviews</h2>
				<div class="yotpo yotpo-main-widget new-yotpo-snippet" data-product-id="4543113265187"
					data-name="Sunny Honey Bali Bronzing Foam"
					data-url="https://dev.cocoandeve.com/products/sunny-honey-bali-bronzing-self-tan-mousse"
					data-image-url="//cdn.shopify.com/s/files/1/0286/1327/9779/products/FOAM_DARK_YELLOW_1_large.jpg%3Fv=1609922006"
					data-description="<div> <strong></strong>Anti-cellulite, anti-ageing self tan with zero nasties. Created using unique CellushapeTM formula to hydrate and firm the skin.<br> </div> <ul> <li>Blurs Pigmentation and Perfects Skin.</li> <li>Tropical Mango and Guava Scent. (No biscuit smells!)</li> <li>Lightweight, non-sticky formula.</li> <li>Fast drying and develops in just 2 hours</li> <li>Vegan. 100% Natural DHA. No Nasties</li> </ul>"
					data-yotpo-element-id="1"></div>
			</div>
		</div>
	</div>

	<div class="container py-4">
		<div class="row text-center">
			<h2 class="h1 col-12 mb-0">What makes us different?</h2>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Colour guide technology so your tan is even and works with your skin tone.
			</div>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Worlds first 100% natural DHA self tan body treatment with full skincare benefits
			</div>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Developed with a green-grey base for a natural looking, golden glow with no orangey tones.
			</div>
			<div class="col-6 col-lg-3 mt-3 d-flex flex-column align-items-center">
				<img src="https://via.placeholder.com/73x73" alt="Placeholder" class="d-block mb-3">
				Tropical Balinese Mango and Guava Scent. (No biscuit or traditional fake tan smells here!)
			</div>
		</div>
	</div>

	{{> sections/footer}}

	{{> js jquery=true bootstrap=true main=true yotpo=true }}
</body>

</html>
