<div class="product-image-carousel__container col-12 col-lg-6 order-lg-2">
	<figure id="product-image-carousel{{#if num}}{{num}}{{/if}}" class="carousel--scroll-product product-image-carousel carousel carousel--product-preview slide mb-1 mb-lg-0 no-gutters__in-container" data-ride="carousel" data-interval="false" data-indicator="#product-image-carousel__indicator{{#if num}}{{num}}{{/if}}">
		<div class="carousel-inner">
			{{#times totalSlide}}
			<div class="col-12 px-0 carousel-item {{#if @first}}active{{/if}}">
				<div class="item-third">
					<picture class="embed-responsive embed-responsive-1by1 bg-shimmer {{#if @last}}with-video{{/if}}">
						<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+{{@index}}" media="(min-width: 992px)">
						<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+{{@index}}" alt="Slide {{@index}}" class="w-100 embed-responsive-item fit--cover" {{#if @first}}{{else}}loading="lazy"{{/if}} />
						{{#if @last}}<img class="svg text-white" src="icons/play.svg" replace-to-svg />{{/if}}
					</picture>
				</div>
				<div class="item-third d-lg-none">
					<picture class="embed-responsive embed-responsive-1by1 bg-shimmer {{#if @last}}with-video{{/if}}">
						<source srcset="https://via.placeholder.com/1140x1140/EFADBA?text=1140x1140+Slide+{{@index}}" media="(min-width: 992px)">
						<img src="https://via.placeholder.com/614x614/EFADBA?text=614x614+Slide+{{@index}}" alt="Slide {{@index}}" class="w-100 embed-responsive-item fit--cover" {{#if @first}}{{else}}loading="lazy"{{/if}} />
						{{#if @last}}<img class="svg text-white" src="icons/play.svg" replace-to-svg />{{/if}}
					</picture>
				</div>
			</div>
			{{/times}}
		</div>
		<span class="product-card__image-tip position-absolute text-white p-1 w-100 text-center">👻 Get 3 for 2 with code: HALLOWEEN 👻</span>
	</figure>
	<picture class="circle-badge position-absolute rounded-circle bg-primary d-flex p-1 mr-0 mt-2 mr-lg-1 mt-lg-1">
		<img class="w-100" src="../images/badge-25.svg" alt="25% Off"/>
	</picture>
	<!--
	<div class="tooltip tooltip--sold-out bg-secondary p-1 rounded col-5 col-lg-3 text-white text-center ml-1">
		<span class="d-block font-weight-bold">25</span>
		<span class="font-size-xs">People bought today!.</span>
	</div>
	-->
	<div class="scrollbar mt-3 d-none position-relative">
		<div class="scrollbar--thumb position-absolute"></div>
	</div>
	<div id="product-image-carousel__indicator-bottom{{#if num}}{{num}}{{/if}}" class="product-image-carousel__indicator-bottom d-none align-items-center mt-3 carousel--swipe col-12 order-lg-1 carousel slide carousel--loop mb-1 mb-lg-0 px-0" data-slide-number="7" data-ride="carousel" data-interval="false">
	{{#if (gt totalSlide 5)}}
		<a class="carousel-indicator chevron-up text-center align-items-center d-flex position-absolute justify-content-center bg-white rounded-circle" href="#product-image-carousel__indicator-bottom{{#if num}}{{num}}{{/if}}" data-slide="prev" aria-hidden="true" disabled>
			<img class="svg text-primary" src="icons/chevron-prev.svg" replace-to-svg />
		</a>
		{{/if}}

		<div class="carousel-inner d-flex flex-nowrap ml-2 {{#if (gt totalSlide 5)}}{{else}}justify-content-center justify-content-lg-start{{/if}}">
			{{#times totalSlide}}
			<div class="product-image-carousel__indicator__item carousel-item mx-1 {{#if @first}}active{{/if}} col-12 px-lg-0 mw-100" data-target="#product-image-carousel{{#if num}}{{num}}{{/if}}" data-index="{{@index}}">
				<button class="btn-unstyled border d-block {{#if @first}}border-primary{{else}}border-white{{/if}}">
					<picture class="embed-responsive embed-responsive-1by1 bg-shimmer {{#if @last}}with-video{{/if}}">
						<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text={{@index}}" alt="Slide {{@index}}" width="70" height="70">
						{{#if @last}}<img class="svg text-white" src="icons/play.svg" replace-to-svg />{{/if}}
					</picture>
				</button>
			</div>
			{{/times}}
		</div>

		{{#if (gt totalSlide 5)}}
		<a class="carousel-indicator chevron-down text-center align-items-center d-flex position-absolute justify-content-center bg-white rounded-circle" href="#product-image-carousel__indicator-bottom{{#if num}}{{num}}{{/if}}" data-slide="next" aria-hidden="true">
			<img class="svg text-primary" src="icons/chevron-next.svg" replace-to-svg />
		</a>
		{{/if}}
	</div>
</div>

<div id="product-image-carousel__indicator{{#if num}}{{num}}{{/if}}" class="product-image-carousel__indicator d-none d-lg-block carousel--swipe col-12 col-lg-1 order-lg-1 carousel slide carousel--loop mb-1 mb-lg-0 px-0 px-lg-g" {{#if (gt totalSlide 5)}}data-slide-number="5" data-ride="carousel" data-interval="false"{{/if}}>
	{{#if (gt totalSlide 5)}}
	<a class="carousel-indicator chevron-up flex-column d-none d-lg-flex mx-auto mb-1 mb-lg-3 text-center align-items-center" href="#product-image-carousel__indicator{{#if num}}{{num}}{{/if}}" data-slide="prev" disabled>
		<img class="svg text-primary" src="icons/chevron-up.svg" replace-to-svg />
	</a>
	{{/if}}

	<div class="carousel-inner d-flex flex-nowrap flex-lg-column {{#if (gt totalSlide 5)}}{{else}}justify-content-center justify-content-lg-start{{/if}}">
		{{#times totalSlide}}
		<div class="product-image-carousel__indicator__item carousel-item {{#if @first}}active{{/if}} col-12 px-lg-0 pb-lg-3 mw-100" data-target="#product-image-carousel{{#if num}}{{num}}{{/if}}" data-index="{{@index}}">
			<button class="btn-unstyled border d-block w-100 {{#if @first}}border-primary{{else}}border-white{{/if}}">
				<picture class="embed-responsive embed-responsive-1by1 bg-shimmer {{#if @last}}with-video{{/if}}">
					<img class="embed-responsive-item fit--cover" src="https://via.placeholder.com/150x150/EFADBA?text={{@index}}" alt="Slide {{@index}}">
					{{#if @last}}<img class="svg text-white" src="icons/play.svg" replace-to-svg />{{/if}}
				</picture>
			</button>
		</div>
		{{/times}}
	</div>

	{{#if (gt totalSlide 5)}}
	<a class="carousel-indicator chevron-down flex-column d-none d-lg-flex mx-auto mt-1 mt-lg-3 text-center align-items-center" href="#product-image-carousel__indicator{{#if num}}{{num}}{{/if}}" data-slide="next">
		<img class="svg text-primary" src="icons/chevron-down.svg" replace-to-svg />
	</a>
	{{/if}}
</div>
