<div class="carousel-item col-9 col-lg-3 result-card {{active}}" data-category="{{category}}" {{#if carousel}}role="option"{{/if}}>
  <noscript class="loading-lazy">
  <picture class="embed-responsive bg-shimmer">
    <source srcset="https://via.placeholder.com/530x378.jpg/EFADBA" media="(min-width: 992px)" />
    <img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/592x422.jpg/EFADBA" loading="lazy"/>
  </picture>
  </noscript>
  <div class="p-2 bg-white h-100">
    <p class="d-flex justify-content-between align-items-center mb-0">
      <img class="svg text-primary h4 mb-0" src="icons/five-stars.svg" replace-to-svg />
      <span class="badge {{badge_color}} mb-1 mt-1">{{badge}}</span>
    </p>
    <p>
      <strong>Product:&nbsp;</strong>
      <a href="/products/sunny-honey-bali-bronzing-self-tan-mousse" title="Sunny Honey Bali Bronzing Foam" tabindex="0" class="text-underline">
        Bali Bronzing Foam (Dark)
      </a>
    </p>
    <p>{{content}}</p>
    <p class="text-underline font-weight-bold">{{username}}</p>
  </div>
</div>
