<div class="carousel-item col-9 col-lg-4 sustainability-card {{active}}" data-category="{{category}}" role="option">
	<noscript class="loading-lazy">
	<picture class="embed-responsive bg-shimmer">
		<img class="embed-responsive-item fit--cover" alt="Img Alt" src="https://via.placeholder.com/300x214.jpg/EFADBA" loading="lazy"/>
	</picture>
	</noscript>
	<div class="p-2 bg-white h-100 bg-primary-light">
		<h6 class="mb-2">{{title}}</h6>
		<p>{{content}}</p>
		<p class="text-underline font-weight-bold">{{username}}</p>
	</div>
</div>
