<div class="col-12 col-lg-4 carousel-item {{active}} product-card">
    <div class="item-third pl-lg-0 d-flex flex-grow-1 flex-column bg-pink-light">
        <a href="#" class="d-flex flex-column px-3">
            <noscript class="loading-lazy">
                <picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0">
                    <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/products/MasqueTravelSize_614x614.jpg?v=1644810671" media="(min-width: 992px)" />
                    <img class="embed-responsive-item fit--cover px-3 bg-pink-light"
                    alt="Image Alt"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0286/1327/9779/products/MasqueTravelSize_614x614.jpg?v=1644810671">
                </picture>
            </noscript>
        </a>
        <div class="pb-0 position-relative flex-grow-1 d-flex flex-column px-3 bg-pink-light">
            <p class="text-center flex-grow-1 d-flex flex-column justify-content-center h-100 h2 font-weight-bold">
                {{title}}
            </p>
            <p class="text-center flex-grow-1 d-flex flex-column justify-content-center h-100 font-weight-normal">{{text}}</p>
            <p class="text-center">
                {{#if compare_price }}<span class="text-linethrough h4 m-1">{{compare_price}}</span>{{/if}}<span class="text-primary h4">{{price}}</span>
            </p>
            <button type="button" class="mx-auto btn btn-lg add-to-cart btn-block px-0 btn-outline-primary bg-white mb-2 text-primary">
                Add To Cart
            </button>
        </div>
    </div>
    <div class="item-third pl-lg-0 d-flex d-lg-none flex-grow-1 flex-column bg-pink-light">
        <a href="#" class="d-flex flex-column px-3">
            <noscript class="loading-lazy">
                <picture class="embed-responsive embed-responsive-1by1 bg-shimmer m-0">
                    <source srcset="https://cdn.shopify.com/s/files/1/0286/1327/9779/products/MasqueTravelSize_614x614.jpg?v=1644810671" media="(min-width: 992px)" />
                    <img class="embed-responsive-item fit--cover px-3 bg-pink-light"
                    alt="Image Alt"
                    loading="lazy"
                    src="https://cdn.shopify.com/s/files/1/0286/1327/9779/products/MasqueTravelSize_614x614.jpg?v=1644810671">
                </picture>
            </noscript>
        </a>
        <div class="pb-0 position-relative flex-grow-1 d-flex flex-column px-3 bg-pink-light">
            <p class="text-center flex-grow-1 d-flex flex-column justify-content-center h-100 h2 font-weight-bold">
                {{nexttitle}}
            </p>
            <p class="text-center flex-grow-1 d-flex flex-column justify-content-center h-100 font-weight-normal">{{nexttext}}</p>
            <p class="text-center">
                {{#if compare_price }}<span class="text-linethrough h4 m-1">{{compare_price}}</span>{{/if}}<span class="text-primary h4">{{price}}</span>
            </p>
            <button type="button" class="mx-auto btn btn-lg add-to-cart btn-block px-0 btn-outline-primary bg-white mb-2 text-primary">
                Add To Cart
            </button>
        </div>
    </div>
</div>