<div class="result-card col-lg-4 {{defaulthide}}" data-category="{{category}}">
  <noscript class="loading-lazy">
    <picture class="embed-responsive bg-shimmer">
      <img class="embed-responsive-item fit--cover" alt="/" src="https://via.placeholder.com/300x214.jpg/EFADBA" loading="lazy"/>
    </picture>
  </noscript>
  <div class="px-2 pb-2 pt-0 bg-white">
    <p class="d-flex justify-content-between align-items-center mb-0">
      <i class="sni sni__five-stars text-primary h4 mb-0"></i>
      <span class="badge {{ badge_color }} my-1">{{badge}}</span>
    </p>
    <p>
      <strong>Product:&nbsp;</strong>
      <a href="/products/sunny-honey-bali-bronzing-self-tan-mousse" title="Sunny Honey Bali Bronzing Foam" tabindex="0" class="text-underline">
        Bali Bronzing Foam (Dark)
      </a>
    </p>
    <p>"{{content}}"</p>
    <p class="text-underline font-weight-bold">{{ username }}</p>
  </div>
</div>
